body {
    padding-top: 2rem;
    background-color: #0f1115;

}
h2 {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffda00;
  margin-bottom: 15px;
}



.card {
    background-color: #1a1a1a;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.sable-laser {
  height: 8px;
  border: none;
  background: linear-gradient(to right, red, orange, yellow);
  box-shadow:
    0 0 15px red,
    0 0 30px orange,
    0 0 45px yellow,
    0 0 60px yellow; /* Más intensidad */
  margin: 2rem 0;
  position: relative;
  z-index: 1;
}
.fs-4{
    color: #ffda00;
}