body {
    padding-top: 2rem;
    background-color: black;

}
h2 {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffda00;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
    .card-group.card-group-scroll {
        display: flex; 
        overflow-y: auto;
        flex-wrap: nowrap;
        
    }
}
.container-fluid {
    padding: 0 1rem;
}
.card {
    background-color: #1a1a1a;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
}